<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/about.css' %}">
    </head>
    <body>
         <div class="container">
            <div class="main-body">
                  <div class="header">
                        <a href="/"><h1 class="title">BugTrak</h1></a>
                         <nav>
                            {% if request.session.id %}
                            <a href="/dashboard">Dashboard</a>
                            {% endif %}
                           <a href="/login">Login</a>
                           <a href="/contact">Contact</a>
                           <a href="/about">About</a>
                         </nav>
                  </div>
                  <h1 class="a-title">About</h1>
                  <div class="text">
                      <p>A bug tracking system or defect tracking system is a software application that manages reported software bugs in software development projects.
                          Many bug tracking systems such as those used by most open-source, allow end-users to manually enter bug reports, while other systems are used only internally in a company or organization doing software development.
                          A bug tracking system is usually a necessary component of software development and considered a hallmark of a great software team.

                          A major component of a bug tracking system is to record facts about a bug, the severity of it, how erroneous the bug is, how to reproduce as well as who reported it and any programmers working to fix it.
                      </p>
                  </div>
            </div>
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
            </div>
       </div>
    </body>
</html>