<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add a Project</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/add_project.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                    <div class="header">
                        <a href="/"><h1 class="title">BugTrak</h1></a>
                            <nav>
                                <a href="/contact" class="nav">Contact</a>
                                <a href="/about" class="nav">About</a>
                                <a href="/dashboard" class="nav">Dashboard</a>
                                <a href="/administration" class="nav admin-link">Administration</a>
                                <a href="/reports" class="nav admin-link2">Reports</a>
                                <a href="/logout" class="nav">Logout</a>
                            </nav>
                    </div> 
                    <div class="admin-option">
                        <a href="/add_user" class="link nav"><div class="ad-link">Add User</div></a>
                        <a href="/add_bug" class="link nav"><div class="ad-link">Add Bug</div></a>
                        <a href="/add_project" class="link top nav"><div class="ad-link">Add Project</div></a>
                    </div>
                    <div class="admin-option2">
                        <a href="/user_report" class="link"><div class="ad-link">User Reports</div></a>
                        <a href="/bug_report" class="link"><div class="ad-link">Bug Reports</div></a>
                        <a href="/project_report" class="link"><div class="ad-link">Project Reports</div></a>
                    </div>
                    <h1 class="add-title">Add a Project</h1>
                    <div class="pro-form">
                        <div class="errors">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                             </ul>
                            {% endif %}
                        </div> 
                        <form action="/add_project_process" method="POST">
                            {% csrf_token %} 
                            <div>
                                <label>Title</label>
                                <input type="text" name="title">
                            </div>
                            <div>
                                <label>Type</label>
                                <select name="typ">
                                    <option value="Maintenance">Maintenance</option> 
                                    <option value="Entertainment">Entertainment</option>
                                    <option value="Retail">Retail</option>
                                    <option value="Task-Management">Task Management</option>
                                </select>
                            </div>
                            <div>
                                <label>Manager</label>
                                <input type="text" name="manager">
                            </div>
                            <div>
                                <label>Frontend</label>
                                <input type="text" name="frontend">
                            </div>
                            <div>
                                <label>Backend</label>
                                <input type="text" name="backend">
                            </div>
                            <div>
                                <label>Client</label>
                                <input type="text" name="client">
                            </div>
                            <div>
                                <label>Description</label>
                                <textarea name="description" id="" cols="30" rows="10"></textarea>
                            </div>
                            <input type="submit" name="submit" id="submit">
                        </form>
                    </div>
                </div>
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
            </div>
        </div>
    </body>
</html>