<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add a Bug</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/add_bug.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                    <div class="header">
                        <a href="/"><h1 class="title">BugTrak</h1></a>
                            <nav>
                                <a href="/home">Login</a>
                                <a href="/contact">Contact</a>
                                <a href="/about">About</a>
                                <a href="/dashboard">Dashboard</a>
                                <a href="/administration">Administration</a>
                                <a href="/reports">Reports</a>
                                <a href="/logout">Logout</a>
                            </nav>
                    </div> 
                    <h1>Add a New Bug</h1>
                    <div class=pro-form>
                        <form action="/add_bug_process" method="POST">
                            <label>Name</label>
                            <input type="text" name="name">
                            <label>Type</label>
                            <select name="typ">
                                <option value="Bug">Bug</option> 
                                <option value="New Functionality">New Functionality</option>
                            </select>
                            <label>Status</label>
                            <select name="status">
                                <option value="In Progress">In Progress</option>
                                <option value="Pending">Pending</option>
                                <option value="UAT Release">UAT Release</option>
                            </select>
                            <label>Start Date</label>
                            <input type="text" name="start_date">
                            <label>Due Date</label>
                            <input type="text" name="due_date">
                            <label>Assigned to</label>
                            <input type="text" name="assigned_to">
                            <label>Description</label>
                            <textarea name="description" id="" cols="30" rows="10"></textarea>
                            <input type="submit" value="Save">
                            <button name="reset"></button>
                        </form>
                    </div>
                </div>
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
            </div>
        </div>
    </body>
</html>