<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contact</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/contact.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="header">
                    <h1 class="title">BugTrak</h1>
                        <nav>
                            <a href="/login">Login</a>
                            <a href="/contact">Contact</a>
                            <a href="/about">About</a>
                        </nav>
                </div>    
                <h1 class="c-header">Contact us! Let us know how we can help.</h1>
                <div class="c-form">
                    <form action="/process_inquery" method="POST">
                        {% csrf_token %}
                        <div class="errors">
                            {% if messages %}
                                <ul>
                                    {% if message == "name" %}
                                        <li>{{message}}</li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            <label class="name">Name</label>
                            <input type="text" name="name">
                        </div>
                        <div class="errors">
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li {% if message == name %} {% endif %}>{{message}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <label id="com-label">Company</label>
                            <input type="text" name="company" class="company input-2">
                        </div>
                        <div class="errors">
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li {% if message == email %} {% endif %}>{{message}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <label>Email</label>
                            <input type="text" name="email">
                        </div>
                        <div class="errors">
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li {% if message == company %} {% endif %}>{{message}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <label>Message</label>
                            <textarea name="message"></textarea>
                        </div>
                        <input type="submit" name="submit" id="sub-1">
                        <input type="reset" name="reset" id="sub-2">
                    </form>
                </div> 
                <div class="right-box">
                    <div class="img"></div>
                    <div class="info-box">
                        <p>6734 technology Dr, 15th Floor</p>
                        <p>Chicago IL, 60664</p>
                        <p>1-888-3r45-5557</p>
                        <p>sales@bugtrak.co</p>
                        <p>facebook.com/bugtrak</p>
                        <p>@Bugtrak</p>
                    </div>   
                </div>        
            </div>
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
            </div>
        </div>
    </body>
</html>