<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/dashboard.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                    <div class="header">
                        <a href="/"><h1 class="title">BugTrak</h1></a>
                            <nav>
                                <a href="/contact" class="nav">Contact</a>
                                <a href="/about" class="nav">About</a>
                                <a href="/administration" class="nav admin-link">Administration</a>
                                <a href="/reports" class="nav admin-link2">Reports</a>
                                <a href="/logout" class="nav">Logout</a>
                            </nav>
                    </div>  
                    <div class="admin-option">
                        <a href="/add_user" class="link nav"><div class="ad-link">Add User</div></a>
                        <a href="/add_bug" class="link nav"><div class="ad-link">Add Bug</div></a>
                        <a href="/add_project" class="link top nav"><div class="ad-link">Add Project</div></a>
                    </div>
                    <div class="admin-option2">
                        <a href="/user_report" class="link"><div class="ad-link">User Reports</div></a>
                        <a href="/bug_report" class="link"><div class="ad-link">Bug Reports</div></a>
                        <a href="/project_report" class="link"><div class="ad-link">Project Reports</div></a>
                    </div>
                    {% if user %}
                    <h1 class="greeting">Welcome, {{user.name}}</h1>
                    {% endif %}
                    <div class="options">
                        <a href="/add_project" class="link top"><div class="opt op">Add Project</div></a>
                        <a href="/project_report" class="link"><div class="opt op">Project Reports</div></a>
                        <a href="/add_bug" class="link"><div class="opt op">Add Bug</div></a>
                        <a href="/bug_report" class="link"><div class="opt op">Bug Reports</div></a>
                        <a href="/add_user" class="link"><div class="opt op">Add User</div></a>
                        <a href="/user_report" class="link"><div class="opt op">User Reports</div></a>
                    </div>
            </div>
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
             </div>
        </div>
    </body>
</html>
<script type="text/javascript" src="static/bugz/js/dashboard.js"></script>
