<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/homepage.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                    <div class="header">
                            <h1 class="title">BugTrak</h1>
                            <nav>
                                {% if request.session.id %}
                                 <a href="/dashboard">Dashboard</a>
                                {% endif %}
                                <a href="/login">Login</a>
                                <a href="/contact">Contact</a>
                                <a href="/about">About</a>
                            </nav>
                    </div>
                <div class="body-text slideshow">
                    <h1>Application monitoring.</h1>
                    <h2>Fix errors in real-time.</h2>
                    <button><a href="/about">Learn More</a></button>
                </div>
                <div class="body-text slide1 slideshow">
                    <h1>Spend less time tracking down problems</h1>
                    <h2>and more time developing.</h2>
                    <button><a href="/about">Learn More</a></button>
                </div>
                <div class="prev">&#10094;</div>
                <div class="next">&#10095;</div>
            </div>
            <div class="body-text2">
                <div class="body-left">
                    <h1>Manage Bugs</h1>
                    <h2>Track bugs in real-time. See who is working on what, when and how.</h2>
                </div>
                <div class="body-right">

                </div>
            </div> 
            <div class="body-text3">
                <div class="body-right2">
                    
                </div>
                <div class="body-left2">
                    <h1>Manage Users</h1>
                    <h2>Add custom employee categories (i.e departments, projects, or office.)</h2>
                </div>
            </div>
            <div class="footer">
                    <p>Created by Michael Kirkaldy - 2019</p>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript" src="static/bugz/js/homepage.js"></script>
