<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/login.css' %}">
</head>
<body>
     <div class="container">
            <div class="main-body">
                   <div class="header">
                <a href="/"><h1 class="title">BugTrak</h1></a> 
                           <nav>
                            {% if request.session.id %}
                            <a href="/dashboard">Dashboard</a>
                            {% endif %}
                             <a href="/login">Login</a>
                             <a href="/contact">Contact</a>
                             <a href="/about">About</a>
                         </nav>
                    </div>
                    <div class="errors">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                             </ul>
                            {% endif %}
                        </div>  
                    <div class="l-form">
                        <h1 class="sign-in">Sign In!</h1>
                        <form action="/login_process" method="POST">
                            {% csrf_token %}
                            <div>
                                <label>Username</label>
                                <input type="text" name="username" id="username">
                            </div>
                            <div>
                                <label>Password</label>
                                <input type="text" name="password" id="password">
                            </div>
                            <input type="submit" name="Sign In" id="submit">
                            <p class="reg">or <a href="/register">sign up</a> now and get started!</p>
                        </form>
                    </div>
                    <div class="testimony">   
                            <p>It wasn’t until we switched to BugTrak that we finally were able to get our error tracking under control. 
                               The ability to see your errors in one place, mark them as resolved makes a huge difference.
                            </p>
                            <div>
                                <div class="photo"></div>
                                <p class="t-name">-RoboHead</p>
                            </div>
                        </div>
            <div class="footer">
                 <p>Created by Michael Kirkaldy - 2019</p>
            </div>
     </div>
</body>
</html>