<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project Reports</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/project_report.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                    <div class="header">
                        <a href="/"><h1 class="title">BugTrak</h1></a>
                            <nav>
                                <a href="/home">Login</a>
                                <a href="/contact">Contact</a>
                                <a href="/about">About</a>
                                <a href="/dashboard">Dashboard</a>
                                <a href="/administration">Administration</a>
                                <a href="/reports">Reports</a>
                                <a href="/logout">Logout</a>
                            </nav>
                    </div> 
                    <h1 class="pro-h1">Project Reports</h1>
                    <div class="reports">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Manager</th>
                                    <th>Frontend</th>
                                    <th>Backend</th>
                                    <th>Client</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr class="entries">
                                    <td>{{project.id}}</td>
                                    <td>{{project.title}}</td>
                                    <td>{{project.typ}}</td>
                                    <td>{{project.manager}}</td>
                                    <td>{{project.frontend}}</td>
                                    <td>{{project.backend}}</td>
                                    <td>{{project.client}}</td>
                                    <td><a href="/edit_project/{{project.id}}">Edit</a> &nbsp; <a href="/delete_project/{{project.id}}">Delete</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
            </div>
        </div>
    </body>
</html>