<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project Reports</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/project_report.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                    <div class="header">
                        <a href="/"><h1 class="title">BugTrak</h1></a>
                            <nav>
                                <a href="/home" class="nav">Login</a>
                                <a href="/contact"  class="nav">Contact</a>
                                <a href="/about" class="nav">About</a>
                                <a href="/dashboard" class="nav">Dashboard</a>
                                <a href="/administration" class="nav admin-link">Administration</a>
                                <a href="/reports" class="nav admin-link2">Reports</a>
                                <a href="/logout" class="nav">Logout</a>
                            </nav>
                    </div> 
                    <div class="admin-option">
                        <a href="/add_user" class="link nav"><div class="ad-link">Add User</div></a>
                        <a href="/add_bug" class="link nav"><div class="ad-link">Add Bug</div></a>
                        <a href="/add_project" class="link top nav"><div class="ad-link">Add Project</div></a>
                    </div>
                    <div class="admin-option2">
                        <a href="/user_report" class="link"><div class="ad-link">User Reports</div></a>
                        <a href="/bug_report" class="link"><div class="ad-link">Bug Reports</div></a>
                    </div>
                    <h1 class="pro-h1">Project Reports</h1>
                    <form action="search_project" method="GET" class="s-form">
                        {% csrf_token %}
                        <input type="text" name="search_project" placeholder="search by project title" id="s-project">
                        <input type="submit" name="submit" id="submit" value="Search">
                    </form>
                    <div class="reports">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Manager</th>
                                    <th>Frontend</th>
                                    <th>Backend</th>
                                    <th>Client</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr class="entries">
                                    <td>{{project.id}}</td>
                                    <td>{{project.title}}</td>
                                    <td>{{project.typ}}</td>
                                    <td>{{project.manager}}</td>
                                    <td>{{project.frontend}}</td>
                                    <td>{{project.backend}}</td>
                                    <td>{{project.client}}</td>
                                    <td><a href="/edit_project/{{project.id}}">Edit</a> &nbsp; <a href="/delete_project/{{project.id}}">Delete</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript" src="static/bugz/js/project_report.js"></script>
