<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/register.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="header">
                    <a href="/"><h1 class="title">BugTrak</h1></a>
                        <nav>
                            {% if request.session.id %}
                            <a href="/dashboard">Dashboard</a>
                            {% endif %}
                            <a href="/login">Login</a>
                            <a href="/contact">Contact</a>
                            <a href="/about">About</a>
                        </nav>
                </div>  
                <div class="errors">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                     </ul>
                    {% endif %}
                </div>  
                <div class="r-form">
                    <form action="/register_admin_process" method="POST">
                        {% csrf_token %}
                        <div>
                            <label>Name</label>
                            <input type="text" name="name">
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="text" name="u_email" id="u_email">
                        </div>
                        <div>
                            <label>Username</label>
                            <input type="text" name="username" id="username">
                        </div>
                        <div>
                            <label>Password</label>
                            <input type="text" name="password" id="password">
                        </div>
                        <div>
                            <label>Confirm Password</label>
                            <input type="text" name="cnfrm_password" id="cnfrm_password">
                            <input type="hidden" name="is_admin" value="True">
                        </div>
                        <input type="submit" name="submit" id="submit">
                    </form>
                </div>
            </div>  
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript" src="static/bugz/js/register.js"></script>
