<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Reports</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bugz/css/project_report.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                    <div class="header">
                        <a href="/"><h1 class="title">BugTrak</h1></a>
                            <nav>
                                <a href="/home">Login</a>
                                <a href="/contact">Contact</a>
                                <a href="/about">About</a>
                                <a href="/dashboard">Dashboard</a>
                                <a href="/administration">Administration</a>
                                <a href="/reports">Reports</a>
                                <a href="/logout">Logout</a>
                            </nav>
                    </div> 
                    <h1 class="pro-h1">User Reports</h1>
                    <div class="reports">

                    </div>
                </div>
            <div class="footer">
                <p>Created by Michael Kirkaldy - 2019</p>
            </div>
        </div>
    </body>
</html>