
* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: cosima;
    src: url('../fonts/Cosima-DemoBold.otf');
  }

.container{
    height: 100%;
    width: 100%;
}

.header {
    font-family: cosima;
    height: 70px;
    width: 100%;
    background-color: rgba(26, 24, 24, 0.4);
}

.title {
    color: white;
    font-size: 25px;
    padding: 20px;
    padding-left: 65px;;
    display: inline-block;
}

nav {
    margin-left: 920px;
    height: 20px;
    padding: 20px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

/*------------------------------BODY---------------------------------*/

.main-body {
    background-image: url('../images/red-wallpaper.jpg');
    background-size: cover;
    height: 900px;
    width: 100%;
    text-align: center;
}

/*---------------------------------------FOOTER------------------------*/

.footer {
    font-family: cosima;
    color: white;
    padding-top: 35px;;
    text-align: center;
    height: 45px;
    width: 100%;
    background-color: black;
}